<div class="">
  <div class="row">
    <div class="col s12 m3">
      <div class="card-panel ">
        <h4>Reserva</h4>
        <div class="row">
          <div class="col s12">
            <label for="inputCreated">Entrada</label>
            <input input-date type="text" name="created" id="inputCreated" ng-model="entrada"
                container=""
                format="dd/mm/yyyy"
                months-full="{{ month }}"
                months-short="{{ monthShort }}"
                weekdays-full="{{ weekdaysFull }}"
                weekdays-short="{{ weekdaysShort }}"
                weekdays-letter="{{ weekdaysLetter }}"
                today="today"
                first-day="1"
                clear="clear"
                close="close"
                select-years="100"/>
          </div>
          <div class="col s12">
            <label for="inputCreated">Saída</label>
            <input input-date type="text" name="created" id="inputCreated" ng-model="saida"
                container=""
                format="dd/mm/yyyy"
                months-full="{{ month }}"
                months-short="{{ monthShort }}"
                weekdays-full="{{ weekdaysFull }}"
                weekdays-short="{{ weekdaysShort }}"
                weekdays-letter="{{ weekdaysLetter }}"
                today="today"
                first-day="1"
                clear="clear"
                close="close"
                select-years="100"/>
          </div>
          <div class="switch col s12">
            <label>
              Quarto Privativo
              <input type="checkbox" ng-init="boolPrivativo = false" ng-model="boolPrivativo">
              <span class="lever"></span>
            </label>
          </div>
          <div ng-show="boolPrivativo">
            <div input-field class="col s12">
              <input type="number" id="qnt_cama">
              <label for="qnt_cama">Quantidade de pessoas</label>
            </div>
          </div>
          <div ng-show="!boolPrivativo">
            <div input-field class="col s12">
              <input type="number" id="qnt_cama">
              <label for="qnt_cama">Quantidade de Camas</label>
            </div>
            <div input-field class="col s12" ng-show="!boolPrivativo">
              <select class="" ng-model="select[0]" id="qnt_masc" material-select watch>
                  <option ng-repeat="value in select">{{value}}</option>
              </select>
              <label for="qnt_masc">Camas masculinos</label>
            </div>
            <div input-field class="col s12" ng-show="!boolPrivativo">
              <select class="" ng-model="select[0]" id="qnt_masc" material-select watch>
                  <option ng-repeat="value in select">{{value}}</option>
              </select>
              <label for="qnt_masc">Camas Femininos</label>
            </div>
          </div>
          <div class="col s12 center-align">
            <p>Total: R$ 0,00</p>
            <a class="btn indigo accent-4" style="margin-top:8px" href="/reservar">Reservar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>